@function setBg($img) {
  @return "../../assets/img/" + $img
}

.app-changePswd {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 999;
}

.app-changePswd .changePswdBox {
  width: 480px;
  height: 360px;
  background-color: #fff;
  margin: -180px 0 0 -240px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 8px;
  position: relative;
}

.changePswdBox .close {
  width: 44px;
  height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background:url(setBg('close.svg')) no-repeat center center / 20px auto;
  z-index: 9;
}