$sidebarWidth : 200px;

.app-sidebar {
  width: $sidebarWidth;
  position: absolute;
  left: 0;
  top: 60px;
  bottom: 0;
  z-index: 99;
  overflow: auto;
}

.app-sidebar .subMenu {
  line-height: 42px;
  width: 100%;
}

.app-sidebar .subMenu .title,
.app-sidebar .subMenu .item a {
  padding-left: 24px;
  color: #888;
}

.app-sidebar .subMenu .item a {
  display: block;
  height: 100%;
  width: 100%;
  padding-left: 46px;
}

.app-sidebar .subMenu .title {
  color: #666;
}

.app-sidebar .subMenu a.active {
  color: #3b8cff;
  background-color: #E4E9EC;
}



