$sidebarWidth : 200px;

@function setBg($img) {
  @return "../../assets/img/" + $img
}

.app-sidebar {
  width: $sidebarWidth;
  position: absolute;
  left: 0;
  top: 60px;
  bottom: 0;
  z-index: 99;
  overflow: auto;
}

.app-sidebar .subMenu {
  line-height: 42px;
  width: 100%;
}

.app-sidebar .subMenu .title,
.app-sidebar .subMenu .item a {
  padding-left: 24px;
  color: #888;
}

.app-sidebar .subMenu .item a {
  display: block;
  height: 100%;
  width: 100%;
  padding-left: 50px;
}

.app-sidebar .subMenu .title {
  color: #666;
  position: relative;
  &:after {
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -5px;
    background: url(setBg("arrow.svg")) no-repeat 0 0 / 100% auto;
    transition: all .3s;
  }  
}

.app-sidebar .subMenu .title i {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  vertical-align: middle;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.app-sidebar i.organization {
  background-image: url(setBg("organization.svg"))
}

.app-sidebar i.userManage {
  background-image: url(setBg("userManage.svg"))
}

.app-sidebar i.roleManage {
  background-image: url(setBg("roleManage.svg"))
}

.app-sidebar i.postManage {
  background-image: url(setBg("postManage.svg"))
}

.app-sidebar i.strategyManage {
  background-image: url(setBg("strategyManage.svg"))
}

.app-sidebar i.reviewManage {
  background-image: url(setBg("reviewManage.svg"))
}

.app-sidebar .subMenu .title.active {
  font-weight: 700;
  &:after {
    transform: rotate(90deg);
  }
}

.app-sidebar .subMenu a.active {
  color: #3b8cff;
  background-color: #E4E9EC;
}


.app-sidebar .menuList {
  height: 0;
  overflow: hidden;
}


.app-sidebar .menuList.active {
  height: auto;
}

.app-sidebar .menuList .item {
  opacity: 0;
  transition: all .3s linear .3s;
}

.app-sidebar .menuList.active .item {
  opacity: 1;
}

.app-sidebar .menuList.active .item:nth-child(1) {
  transition-delay: 0s;
}

.app-sidebar .menuList.active .item:nth-child(2) {
  transition-delay: .06s;
}

.app-sidebar .menuList.active .item:nth-child(2) {
  transition-delay: .12s;
}

.app-sidebar .menuList.active .item:nth-child(3) {
  transition-delay: .18s;
}

.app-sidebar .menuList.active .item:nth-child(4) {
  transition-delay: .24s;
}

.app-sidebar .menuList.active .item:nth-child(5) {
  transition-delay: .3s;
}


